import /vendor/etc/init/hw/init.cgroup.rc
import /vendor/etc/init/hw/init.connectivity.rc
import /vendor/etc/init/hw/init.mt6897.usb.rc
import /vendor/etc/init/hw/init.mtkgki.rc
import /vendor/etc/init/hw/init.project.rc
import /vendor/etc/init/hw/init.sensor_2_0.rc

on init
    # increase sysctl_rmem_max and sysctl_wmem_max values to 2M
    write /proc/sys/net/core/wmem_max 8388608
    write /proc/sys/net/core/rmem_max 8388608

on charger
    chmod 0666 /dev/kmsg
    chmod 0775 /mnt/vendor
    mkdir /mnt/vendor/nvcfg
    mount ext4 /dev/block/by-name/nvcfg /mnt/vendor/nvcfg rw wait
    chown system system /mnt/vendor/nvcfg
    chmod 0771 /mnt/vendor/nvcfg
    restorecon_recursive /mnt/vendor/nvcfg

    # Permissions for System Server and daemons
    chown system system /sys/power/state
    chown system system /sys/power/wakeup_count
    chown radio wakelock /sys/power/wake_lock
    chown radio wakelock /sys/power/wake_unlock
    chmod 0660 /sys/power/state
    chmod 0660 /sys/power/wake_lock
    chmod 0660 /sys/power/wake_unlock
    chmod 0660 /sys/power/wakeup_count
    write /sys/power/pm_freeze_timeout 2000

on fs
    mount_all --early

on late-fs
    mount_all --late

on post-fs
    # sensor add start
    mkdir /mnt/vendor/persist/sensors 0755 system system

    chown system system /mnt/vendor/protect_f
    chmod 0770 /mnt/vendor/protect_f

    chown system system /mnt/vendor/protect_s
    chmod 0770 /mnt/vendor/protect_s

on post-fs-data
    wait_for_prop vendor.all.modules.ready 1

    chown system system /mnt/vendor/nvcfg
    chmod 0771 /mnt/vendor/nvcfg
    restorecon_recursive /mnt/vendor/nvcfg

    # create basic filesystem structure
    chown root system /mnt/vendor/nvdata
    chmod 0771 /mnt/vendor/nvdata
    mkdir /mnt/vendor/nvdata/media 0771 media audio

    # Create cct mount point
    mkdir /mnt/vendor/cct
    chown root system /mnt/vendor/cct
    chmod 0771 /mnt/vendor/cct

    # Camera directories
    mkdir /data/vendor/camera
    chown root system /data/vendor/camera
    chmod 0771 /data/vendor/camera

    # Thermal
    mkdir /data/vendor/thermal
    chown root system /data/vendor/thermal
    chmod 0771 /data/vendor/thermal

    # Create nvcfg/fg subfolders
    mkdir /mnt/vendor/nvcfg/fg 0771 system system
    mkdir /mnt/vendor/nvcfg/fg/old_fg_data 0771 system system
    mkdir /mnt/vendor/nvcfg/fg/car_tune_value 0771 system system

    # Bluetooth
    mkdir /data/vendor/bluetooth 0771 bluetooth bluetooth
    setprop vendor.bluetooth.ldac_enabled true
    setprop vendor.bluetooth.aac_enabled true

    # GNSS
    mkdir /data/vendor/gps 0771 gps gps
    chown gps gps /dev/stp_gps
    chown gps gps /dev/gps
    chown gps gps /sys/class/gps/GPS_hal/power_enable
    chown gps gps /sys/class/gps/GPS_hal/sleep

on property:sys.boot_completed=1
    # Boot completed
    write /sys/class/leds/lcd-backlight/brightness 128
